@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffdf0; /* Мягкий желтый цвет */
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fffdf0; /* Оставляем тот же цвет для темной темы */
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.font-story {
  font-family: var(--font-neucha), cursive;
}

.font-system {
  font-family: 'JetBrains Mono', monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
